.accordion {
  padding: 0px 8px;
  border-bottom: 1px solid $lightGrayshBlue;

  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px solid $lightGrayshBlue;

    h3 {
      margin: 1.25rem 0;
      padding-right: 32px;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -0.5px;
      text-align: left;
    }
  }
  p {
    margin-top: 0;
    margin-bottom: 18px;
    text-align: left;
    line-height: 1.1rem;
    padding-right: 1rem;
    color: $darkGrayishBlue;
    display: none;

    &.sample {
      // display: block;
    }
  }
}
@media (min-width: 1024px) {
  .accordion {
    .question {
      h3 {
        margin: 1.0625rem 0;
      }
    }
  }
}
