.container {
  width: 88%;
  max-width: 600px;
  background-color: white;
  margin: auto;
  margin-top: 9.25rem;
  // margin: 9.25rem 1.5rem 5.3125rem 1.5rem;
  // margin-left: calc(7%);
  // margin-right: calc(7%);
  padding: 3.125rem 1rem;
  text-align: center;
  border-radius: 2rem;

  h1 {
    margin: 1rem 0;
    padding-top: 4.5rem;
    font-size: 2rem;
    color: $veryDarkDesaturatedBlue;
  }

  &__images {
    height: 0;
    .desktop {
      display: none;
    }
    .mobile {
      position: relative;
      background-image: url("./images/bg-pattern-mobile.svg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 240px;
      height: 104px;
      margin: 0 auto;
      top: -50px;

      &::before {
        content: "";
        position: absolute;
        background-image: url("./images/illustration-woman-online-mobile.svg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 266px;
        height: 196px;
        top: -108px;
        right: 0;
      }
    }
  }

  &__image.desktop {
    display: none;
  }
}

@media (max-width: 374px) {
  .container {
    width: 95%;
  }
}
