.container {
  background-color: white;
  margin: 9.25rem 1.5rem 5.3125rem 1.5rem;
  padding: 3.125rem 1rem;
  text-align: center;
  border-radius: 2rem;

  h1 {
    margin: 1rem 0;
    padding-top: 4.5rem;
    font-size: 2rem;
    color: $veryDarkDesaturatedBlue;
  }

  &__image.mobile {
    display: flex;
    flex-flow: column;

    img {
      position: absolute;
      &.illust {
        width: 16.625rem;
        height: 12.25rem;
        top: 0;
        right: 50%;
        transform: translate(45%, 20%);
      }
      &.bg {
        width: 15rem;
        height: 6.5rem;
        top: 6.25rem;
        right: 50%;
        transform: translate(50%, 40%);
      }
    }
  }
  &__image.desktop {
    display: none;
  }
}

@media (max-width: 374px) {
  .container {
    background-color: white;
    margin: 6.475rem 0.75rem 2.65rem 0.75rem;

    &__image.mobile {
      img {
        &.illust {
          width: 11.6375rem;
          height: 8.575rem;
        }
        &.bg {
          width: 10.5rem;
          height: 4.5rem;
          top: 4.25rem;
        }
      }
    }
  }
}
